.topbar {
    width: 75%;
    height: 95px;
    background-color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 320px;
    z-index: 999;
    margin-bottom: 4rem;
    box-sizing: border-box;
    elevation: higher;
  }
  
  .topbarWrapper {
    height: 100%;
      overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    
    cursor: pointer;

  }
  .img-logo{
        max-width: 100%;
        max-height: 100%;
        display: block;
  }

  
  .topRight{
      display: flex;
      align-items: center;
  }
  
  .topbarIconContainer {
    /*position: relative;*/
    /*cursor: pointer;*/
    color: #00204A;
  }
  
  