.topbar {
    width: 100%;
    height: 55px;
    background-color:#ffffff;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom: 4rem;
  }
  
  .topbarWrapper {
    height: 100%;
    padding: 20px 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    
    cursor: pointer;

  }
  .img-logo{
        max-width: 100%;
        max-height: 100%;
        display: block;
  }

  
  .topRight{
      display: flex;
      align-items: center;
  }
  
  .topbarIconContainer {
    position: relative;
    cursor: pointer;
    color: #00204A;
  }
  
  