.card{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float:left;
}

.formCard{
    
        background: #fff;
        border-radius: 7px;
        box-shadow: 0 2px 5px #ccc;
        padding: 10px;
        width: 950px;
        margin: 16px;
        float:left;
    
}

.cardFloat{
    padding-left: 900px;
}